.input_area {
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    padding-left: 55px;
}

.input_area button {
    width: 75px;
    height: 25px;
    margin-top: 21px;
    border: 0;
    background-color: #50554c;
    color: aliceblue;
}

.test {
    display: flex;
    padding: 20px;
}